@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");
* {
  box-sizing: border-box;
}

main {
  font-family: "Open Sans", sans-serif;
}

#home_main {
  display: grid;
  grid-template-areas: "headline" "subheading" "about_company" "our_services";
  max-width: 1600px;
  /* I am not using the shorthand margin here since this will be used on taggs that may have a margin on the vertical axis.
  normaly changes that are in the sass file will have priority over partials but i do this to make sure there will be no issues */
  margin-left: auto;
  margin-right: auto;
}
#home_main section {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
#home_main section h2 {
  text-align: center;
}
#home_main section p {
  text-align: center;
}
#home_main section article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
#home_main section article i {
  font-size: 2rem;
}
#home_main section img {
  width: 100%;
  height: 100%;
}
#home_main section a {
  border: 3px solid #000;
  padding: 15px;
  text-decoration: none;
  font-weight: 700;
}
#home_main #home_headline {
  grid-area: headline;
}
#home_main #subheading {
  grid-area: subheading;
}
#home_main #home_about {
  background-color: #e6bd43;
  grid-area: about_company;
}
#home_main #services {
  grid-area: our_services;
}

#main_about {
  display: grid;
  grid-template-areas: "about_company" "services" "clients" "contact_form";
  max-width: 1600px;
  /* I am not using the shorthand margin here since this will be used on taggs that may have a margin on the vertical axis.
  normaly changes that are in the sass file will have priority over partials but i do this to make sure there will be no issues */
  margin-left: auto;
  margin-right: auto;
}
#main_about #about_company {
  padding: 40px;
  background: url(../img/mobile_on_notebook.webp) #dddddd;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: about_company;
}
#main_about #about_company article {
  background-color: rgba(221, 221, 221, 0.8705882353);
  padding: 35px;
}
#main_about #about_company article a {
  padding: 10px;
  text-decoration: none;
}
#main_about #services {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  grid-area: services;
}
#main_about #services h2 {
  text-align: center;
}
#main_about #services p {
  text-align: center;
}
#main_about #services article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
#main_about #services article i {
  font-size: 2rem;
}
#main_about #services img {
  width: 100%;
  height: 100%;
}
#main_about #services a {
  border: 3px solid #000;
  padding: 15px;
  text-decoration: none;
  font-weight: 700;
}
#main_about #clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: #e6bd43;
  grid-area: clients;
}
#main_about #clients h2 {
  width: 100%;
  text-align: center;
}
#main_about #clients img {
  margin: 10px;
}
#main_about #contact_form {
  display: grid;
  grid-template-areas: "heading" "message_form" "contact_info" "map";
  background-color: #dddddd;
  grid-area: contact_form;
}
#main_about #contact_form h2 {
  text-align: center;
  grid-area: heading;
}
#main_about #contact_form #message_form {
  grid-area: message_form;
}
#main_about #contact_form #contact_info {
  grid-area: contact_info;
}
#main_about #contact_form article {
  padding: 20px;
}
#main_about #contact_form article form {
  display: flex;
  flex-direction: column;
}
#main_about #contact_form article form input, #main_about #contact_form article form textarea {
  border: none;
  margin: 10px 0;
  padding: 10px 5px;
}
#main_about #contact_form article form input[type=submit] {
  width: 140px;
}
#main_about #contact_form article ul {
  list-style: none;
  padding: 0;
}
#main_about #contact_form article ul li i {
  margin-right: 20px;
  color: #000;
}
#main_about #contact_form div {
  grid-area: map;
}

aside {
  background-color: #dddddd;
  padding: 40px 15px;
  max-width: 1600px;
  /* I am not using the shorthand margin here since this will be used on taggs that may have a margin on the vertical axis.
  normaly changes that are in the sass file will have priority over partials but i do this to make sure there will be no issues */
  margin-left: auto;
  margin-right: auto;
}
aside form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
aside form label {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px;
}
aside form input {
  padding: 10px;
  border: none;
}
aside form input[type=email] {
  width: 60%;
  font-family: "Open Sans", sans-serif;
}
aside form input[type=submit] {
  width: 37%;
  font-weight: 700;
  background-color: #e6bd43;
  font-family: "Open Sans", sans-serif;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1600px;
  /* I am not using the shorthand margin here since this will be used on taggs that may have a margin on the vertical axis.
  normaly changes that are in the sass file will have priority over partials but i do this to make sure there will be no issues */
  margin-left: auto;
  margin-right: auto;
}
header nav a {
  align-self: center;
  margin: 10px;
}
header nav a img {
  width: 120px;
  height: 120px;
}
header nav ol {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 0;
}
header nav ol li {
  list-style: none;
  margin: 10px;
}
header nav ol li a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}
header nav ol li #selected_page {
  text-decoration: underline solid #e6bd43 3px;
}

#home_main #home_headline {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#home_main #home_headline video {
  display: none;
}
#home_main #home_headline h1 {
  position: relative;
  text-align: center;
  width: 70%;
}
#home_main #home_headline p {
  position: relative;
  text-align: center;
  width: 70%;
}
#home_main #home_headline a {
  position: relative;
  border: none;
  padding: 10px;
  text-decoration: none;
}
#home_main #home_headline:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: url(../img/mobile_on_notebook.webp) #dddddd;
  background-repeat: no-repeat;
  background-size: cover;
}

#portifolio_main {
  max-width: 1600px;
  /* I am not using the shorthand margin here since this will be used on taggs that may have a margin on the vertical axis.
  normaly changes that are in the sass file will have priority over partials but i do this to make sure there will be no issues */
  margin-left: auto;
  margin-right: auto;
}
#portifolio_main #previous_jobs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
}
#portifolio_main #previous_jobs h2 {
  grid-row: 1/2;
}
#portifolio_main #previous_jobs nav {
  grid-row: 2/3;
}
#portifolio_main #previous_jobs #branding {
  grid-row: 3/4;
}
#portifolio_main #previous_jobs #design {
  grid-row: 4/5;
}
#portifolio_main #previous_jobs #development {
  grid-row: 5/6;
}
#portifolio_main section {
  padding: 40px;
}
#portifolio_main section h2 {
  border-bottom: 2px solid #e6bd43;
  padding: 10px;
}
#portifolio_main section nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
#portifolio_main section nav ul li a {
  margin: 5px;
  border: 1px solid #000;
  padding: 5px;
  text-decoration: none;
}
#portifolio_main section section {
  padding: 0;
}
#portifolio_main section section h3 {
  border-bottom: 2px solid #e6bd43;
  padding: 10px;
  text-align: center;
}

.port_article_controller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.port_article_controller h3 {
  width: 100%;
}
.port_article_controller article {
  display: flex;
  flex-direction: column;
  max-width: 692px;
  min-width: 200px;
  flex-grow: 1;
  margin: 10px 0;
}
.port_article_controller article img {
  object-fit: contain;
}

#portifolio_background {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}
#portifolio_background h1 {
  position: relative;
  color: #000;
  text-align: center;
  top: 2em;
}

#portifolio_background:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: url(../img/mobile_on_notebook.webp) #dddddd;
  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  height: 300px;
  width: 100%;
}

footer {
  background-color: #000;
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1600px;
  /* I am not using the shorthand margin here since this will be used on taggs that may have a margin on the vertical axis.
  normaly changes that are in the sass file will have priority over partials but i do this to make sure there will be no issues */
  margin-left: auto;
  margin-right: auto;
}
footer div a {
  align-self: center;
  margin: 10px;
  font-size: 2rem;
}
footer div a img {
  width: 120px;
  height: 120px;
}
footer div p {
  color: #fff;
  align-self: center;
}
footer div ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 0;
}
footer div ul li {
  list-style: none;
  margin: 10px;
}
footer div ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

.yellow_hover_btn {
  background-color: #e6bd43;
  color: #000;
}

.category_hover_btn {
  color: #000;
}

@media only screen and (min-width: 700px) {
  header nav {
    flex-wrap: wrap;
    flex-direction: row;
  }
  header nav ol {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 10px;
  }
  header nav ol li {
    margin: 5px;
  }
  #home_main {
    grid-template-areas: "headline headline headline" ". subheading ." "about_company about_company about_company" "our_services our_services our_services";
  }
  #home_main #home_headline {
    position: relative;
    height: 500px;
    background-image: none;
  }
  #home_main #home_headline video {
    display: block;
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
  }
  #home_main #home_headline h1 {
    z-index: 1;
    position: relative;
    text-align: center;
  }
  #home_main #home_headline p {
    z-index: 1;
    position: relative;
    text-align: center;
  }
  #home_main #home_headline a {
    z-index: 1;
    position: relative;
  }
  #home_main #home_headline:before {
    display: none;
  }
  #home_main #home_about {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 2fr;
    height: 500px;
    column-gap: 30px;
  }
  #home_main #home_about img {
    min-width: 300px;
    max-width: 400px;
    object-fit: contain;
    grid-column: 1/2;
    grid-row: 1/4;
  }
  #home_main #home_about h2 {
    justify-self: start;
    align-self: end;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #home_main #home_about p {
    text-align: left;
    align-self: stretch;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #home_main #home_about a {
    justify-self: start;
    align-self: start;
    grid-column: 2/3;
    grid-row: 3/4;
  }
  #home_main #services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #home_main #services h2 {
    width: 100%;
  }
  #home_main #services article {
    max-width: 300px;
  }
  #portifolio_main #previous_jobs {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  #portifolio_main #previous_jobs h2 {
    grid-column: 1/4;
  }
  #portifolio_main #previous_jobs nav {
    grid-column: 1/4;
  }
  #portifolio_main #previous_jobs #branding {
    grid-column: 1/4;
  }
  #portifolio_main #previous_jobs #design {
    grid-column: 1/4;
  }
  #portifolio_main #previous_jobs #development {
    grid-column: 1/4;
  }
  #main_about {
    grid-template-areas: "about_company about_company about_company" "services services services" "clients clients clients" "contact_form contact_form contact_form";
  }
  #main_about #about_company article {
    /* I haven't used flex og grid her to place this article box, both to show that i know how to do it in other ways than with only flex and grid
    and that it's just moving one item in this section so it would be overkill to make a grid for it or use flex just to get acess to justify-content */
    width: 40%;
    margin-left: auto;
    min-width: 400px;
  }
  #main_about #services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #main_about #services h2 {
    width: 100%;
  }
  #main_about #services article {
    max-width: 300px;
  }
  #main_about #contact_form {
    grid-template-areas: ". heading heading ." "message_form message_form contact_info contact_info" "map map map map";
    grid-template-columns: repeat(4, 1fr);
  }
  .port_article_controller article {
    margin: 10px;
    transform: scale(100%);
    transition: transform 1s ease;
  }
  .port_article_controller article:hover {
    transform: scale(105%);
  }
  aside form {
    justify-content: center;
  }
  aside form label {
    text-align: center;
    width: 100%;
  }
  aside form input[type=email] {
    width: 25%;
  }
  aside form input[type=submit] {
    width: 25%;
  }
  footer div {
    flex-wrap: wrap;
    flex-direction: row;
  }
  footer div ul {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 10px;
  }
  footer div ul li {
    margin: 5px;
  }
  .yellow_hover_btn:hover, .category_hover_btn:hover {
    background-color: #000;
    color: #e6bd43;
  }
}/*# sourceMappingURL=style.css.map */