@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");
main {
  font-family: "Open Sans", sans-serif;
}
main section {
  border: 1px solid black;
}
main section article {
  border: 1px solid red;
}

aside {
  border: 1px solid violet;
}

footer {
  border: 1px solid green;
}

header {
  border: 1px solid blue;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header nav a {
  align-self: center;
  margin: 10px;
}
header nav a img {
  width: 120px;
  height: 120px;
}
header nav ol {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 0;
}
header nav ol li {
  list-style: none;
  margin: 10px;
}
header nav ol li a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}
header nav ol li #contact_button {
  background-color: #e6bd43;
}
header nav ol li #selected_page {
  text-decoration: underline solid #e6bd43 3px;
}

.port_article_controller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.port_article_controller article {
  display: flex;
  flex-direction: column;
  max-width: 692px;
  min-width: 200px;
  flex-grow: 1;
  margin: 10px;
  border: 1px solid red;
}
.port_article_controller article img {
  object-fit: contain;
}

#portifolio_background {
  background-image: url("../img/mobile_on_notebook.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
#portifolio_background h1 {
  color: #000;
  text-align: center;
  margin: 100px 0;
}

#map {
  height: 300px;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
}
footer a {
  align-self: center;
  margin: 10px;
}
footer a img {
  width: 120px;
  height: 120px;
}
footer p {
  color: #fff;
  align-self: center;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 0;
}
footer ul li {
  list-style: none;
  margin: 10px;
}
footer ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 700px) {
  header {
    border: 1px solid blue;
  }
  header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  header nav a {
    margin: 10px;
  }
  header nav a img {
    width: 120px;
    height: 120px;
  }
  header nav ol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10px;
  }
  header nav ol li {
    list-style: none;
    margin: 5px;
  }
  header nav ol li a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
  }
  header nav ol li #contact_button {
    background-color: #e6bd43;
  }
  #home_headline {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  #home_headline video {
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  #home_headline h1 {
    z-index: 1;
    position: relative;
    text-align: center;
  }
  #home_headline p {
    z-index: 1;
    position: relative;
    text-align: center;
  }
  #home_headline a {
    z-index: 1;
    position: relative;
    padding: 10px;
    background-color: #e6bd43;
    color: #000;
    text-decoration: none;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  footer ul {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 10px;
  }
  footer ul li {
    margin: 5px;
  }
}/*# sourceMappingURL=style.css.map */