@import "partials/colors";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

main{
    font-family: 'Open Sans', sans-serif;
    section{
        border: 1px solid black;
        article{
            border: 1px solid red;
        }
    }
}

aside{
    border: 1px solid violet;
}

footer{
    border: 1px solid green;
}

header{
    border: 1px solid blue;
}

.port_article_controller{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    article{
        display: flex;
        flex-direction: column;
        max-width: 692px;
        min-width: 200px;
        flex-grow: 1;
        margin: 10px;
        img{
            object-fit: contain;
        }
        // Note to self, its here to show the article boxes. remove after use
        border: 1px solid red;
    }
}

#portifolio_background{
    background-image: url("../img/mobile_on_notebook.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    h1{
        color: $black_color;
        text-align: center;
        margin: 100px 0;
    }
}

#map{
    height: 500px;
    width: 100%;
}