@import "partials/colors";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

*{
    box-sizing: border-box;
}

main{
    font-family: 'Open Sans', sans-serif;
}

#home_main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    section{
        display: flex;
        justify-items: center;
        justify-content: space-around;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        h2{
            text-align: center;
        }
        p{
            text-align: center;
        }
        article{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 30px;
            i{
                font-size: 2rem;
            }
        }
        img{
            width: 100%;
            height: 100%;
        }
        a{
            border: 3px solid $black_color;
            padding: 15px;
            text-decoration: none;
            font-weight: 700;
        }
    }
    #home_about{
        background-color: $yellow_color;
    }
}

#main_about{
    #about_company{
        background-image: url(../img/mobile_on_notebook.webp);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px;
        article{
            background-color: $opacity_light_grey;
            padding: 35px;
            a{
                padding: 10px;
                text-decoration: none;
            }
        }
    }
    #services{
        display: flex;
        justify-items: center;
        justify-content: space-around;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        h2{
            text-align: center;
        }
        p{
            text-align: center;
        }
        article{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 30px;
            i{
                font-size: 2rem;
            }
        }
        img{
            width: 100%;
            height: 100%;
        }
        a{
            border: 3px solid $black_color;
            padding: 15px;
            text-decoration: none;
            font-weight: 700;
        }
    }
    #clients{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: $yellow_color;
        h2{
            width: 100%;
            text-align: center;
        }
        img{
            margin: 10px;
        }
    }
    #contact_form{
        display: grid;
        grid-template-areas: "heading" "message_form" "contact_info" "map";
        background-color: $light_gray_color;
        h2{
            text-align: center;
            grid-area: heading;
        }
        #message_form{
            grid-area: message_form;
        }
        #contact_info{
            grid-area: contact_info;
        }
        article{
            padding: 20px;
            form{
                display: flex;
                flex-direction: column;
                input, textarea{
                    border: none;
                    margin: 10px 0;
                    padding: 10px 5px;
                }
                input[type=submit]{
                    width: 140px;
                }
            }
            ul{
                list-style: none;
                padding: 0;
                li{
                    i{
                        margin-right: 20px;
                        color: $black_color;
                    }
                }
            }
        }
        div{
            grid-area: map;
        }
    }
}

aside{
    background-color: $light_gray_color;
    padding: 40px 15px;
    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        label{
            font-weight: 700;
            font-size: 1.5rem;
            margin: 20px;
        }
        input{
            padding: 10px;
            border: none;
        }
        input[type=email]{
            width: 60%;
            font-family: 'Open Sans', sans-serif;
        }
        input[type=submit]{
            width: 37%;
            font-weight: 700;
            background-color: $yellow_color;
            font-family: 'Open Sans', sans-serif;
        }
    }
}


header{
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        a{
            align-self: center;
            margin: 10px;
            img{
                width: 120px;
                height: 120px;
            }
        }
        ol{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            padding: 0;
            li{
                list-style: none;
                margin: 10px;
                a{
                    text-decoration: none;
                    color: $black_color;
                    font-weight: 800;
                    padding: 10px;
                    font-family: 'Open Sans', sans-serif;
                }
                #selected_page{
                    text-decoration: underline solid $yellow_color 3px;
                } 
            }
        }
    }
}

#home_main{
    #home_headline{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(../img/mobile_on_notebook.webp);
        background-repeat: no-repeat;
        background-size: cover;
        video{
            display: none;
        }
        h1{
            text-align: center;
            width: 70%;
        }
        p{
            text-align: center;
            width: 70%;
        }
        a{
            border: none;
            padding: 10px;
            text-decoration: none;
        }
    }    
}

#portifolio_main{
    section{
        padding: 40px;
        h2{
            border-bottom: 2px solid $yellow_color;
            padding: 10px;
        }
        nav{
            ul{
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                list-style: none;
                li{
                    margin: 5px;
                    padding: 5px;
                    border: 1px solid $black_color;
                    a{
                        text-decoration: none;
                        color: $black_color;
                    }
                }
            }
        }
        section{
            padding: 0;
            h3{
                border-bottom: 2px solid $yellow_color;
                padding: 10px;
                text-align: center; 
            }
        }
    }
}


.port_article_controller{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    h3{
        width: 100%;
    }
    article{
        display: flex;
        flex-direction: column;
        max-width: 692px;
        min-width: 200px;
        flex-grow: 1;
        margin: 10px 0;
        img{
            object-fit: contain;
        }
    }
}

#portifolio_background{
    background-image: url("../img/mobile_on_notebook.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    h1{
        color: $black_color;
        text-align: center;
        margin: 100px 0;
    }
}

#map{
    height: 300px;
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $black_color;
    a{
        align-self: center;
        margin: 10px;
        font-size: 2rem;
        img{
            width: 120px;
            height: 120px;
        }        
    }
    
    p{
        color: $white_color;
        align-self: center;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 0;
        li{
            list-style: none;
            margin: 10px;
            a{
                text-decoration: none;
                color: $white_color;
                font-weight: 800;
                padding: 10px;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
}

.yellow_hover_btn{
    background-color: $yellow_color;
    color: $black_color;
}

@media only screen and (min-width: 700px){
    header{
        nav{
            flex-wrap: wrap;
            flex-direction: row;
            ol{
                flex-direction: row;
                justify-content: flex-end;
                margin: 0 10px;
                li{
                    margin: 5px;
                }
            }
        }
    }
    #home_main{
        #home_headline{
            position: relative;
            height: 500px;
            background-image: none;
            video{
                display: block;
                object-fit: cover;
                z-index: 0;
                width: 100%;
                height: 100%;
                position: absolute;
            }
            h1{
                z-index: 1;
                position: relative;
                text-align: center;
            }
            p{
                z-index: 1;
                position: relative;
                text-align: center;
            }
            a{
                z-index: 1;
                position: relative;
            }
        }
        #home_about{
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr 1fr 2fr;
            height: 500px;
            column-gap: 30px;
            img{
                min-width: 300px;
                max-width: 400px;
                object-fit: contain;
                grid-column: 1/2;
                grid-row: 1/4;
            }
            h2{
                justify-self: start;
                align-self: end;
                grid-column: 2/3;
                grid-row: 1/2;
            }
            p{
                text-align: left;
                align-self: stretch;
                grid-column: 2/3;
                grid-row: 2/3;
            }
            a{
                justify-self: start;
                align-self: start;
                grid-column: 2/3;
                grid-row: 3/4;
            }
        }
        #services{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            h2{
                width: 100%;
            }
            article{
                width: 25%;
            }

        }    
    }

    #main_about{
        #about_company{
            article{
                /* I haven't used flex og grid her to place this article box, both to show that i know how to do it in other ways than with only flex and grid
                and that it's just moving one item in this section so it would be overkill to make a grid for it or use flex just to get acess to justify-content */
                width: 40%;
                margin-left: auto;
            }
        }
        #services{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            h2{
                width: 100%;
            }
            article{
                width: 25%;
            }
        }
        #contact_form{
            grid-template-areas: ". heading heading ." "message_form message_form contact_info contact_info" "map map map map";
            grid-template-columns: repeat(4, 1fr);
        }    
    }


    .port_article_controller{
        article{
            margin: 10px;
            transform: scale(100%);
            transition: transform 1s ease;
        }
        article:hover{
            transform: scale(105%);
        }
    }

    aside{
        form{
            justify-content: center;
            label{
                text-align: center;
                width: 100%;
            }
            input[type=email]{
                width: 25%;
            }
            input[type=submit]{
                width: 25%;
            }
        }
    }
    

    footer{
        flex-wrap: wrap;
        flex-direction: row;
        ul{
            flex-direction: row;
            justify-content: flex-end;
            margin: 0 10px;
            li{
                margin: 5px;
            }
        }
    }

    .yellow_hover_btn:hover{
        background-color: $black_color;
        color: $yellow_color;
    }
}