@import "partials/colors";
@import "partials/mixins";
@import "partials/fonts";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

*{
    box-sizing: border-box;
}

/* General tags */

header{
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include max_size_properties;

        /* Skip to main content button that apears when focused by navigating throug the page with the keyboard */
        #skip_to_main{
            position: absolute;
            top: -100px;
            left: auto;
            overflow: hidden;
        }

        #skip_to_main:focus{
            position: fixed;
            font-weight: 600;
            padding: 10px 20px 15px 20px;
            border-radius: 10%;
            margin: 0;
            top: -5px;
            /* The a taggs size is 187px so 50% of the viewport - half the size of the tagg
            another way of centering a element */
            left: calc(50vw - 93.5px);
            color: $black_color;
            background-color: $yellow_color;
            text-decoration: none;
            /* Makes sure that the element is in front of everything else while the user scrolls down */
            z-index: 2;
        }

        a{
            align-self: center;
            margin: 10px;
            img{
                @include logo_size;
            }
        }

        ol{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            padding: 0;

            li{
                list-style: none;
                margin: 10px;

                a{
                    text-decoration: none;
                    color: $black_color;
                    font-weight: 800;
                    padding: 10px;
                    font-family: $default_font;
                }

                #selected_page{
                    text-decoration: underline solid $yellow_color 3px;
                } 
            }
        }
    }
}

main{
    font-family: $default_font;
}

footer{
    background-color: $black_color;

    div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include max_size_properties;

        a{
            align-self: center;
            margin: 10px;
            font-size: 2rem;
            img{
                @include logo_size;
            }        
        }
        
        p{
            color: $white_color;
            align-self: center;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            padding: 0;

            li{
                list-style: none;
                margin: 10px;

                a{
                    text-decoration: none;
                    color: $white_color;
                    font-weight: 800;
                    padding: 10px;
                    font-family: $default_font;
                }
            }
        }
    }
}

#link_to_top{
    position: fixed;
    bottom: 40px;
    right: 10px;

    a{
        font-size: 2rem;
        background-color: $black_color;
        padding: 15px;
        color: $yellow_color;
        border-radius: 10%;
        border: 1px solid $yellow_color;
    }
}

.yellow_hover_btn{
    background-color: $yellow_color;
    color: $black_color;
}

.category_hover_btn{
    color: $black_color;
}

/* Index page spesific taggs */

#home_main{
    display: grid;
    grid-template-areas: "headline" "subheading" "about_company" "our_services";
    @include max_size_properties;

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;

        h2{
            text-align: center;
        }

        p{
            text-align: center;
        }

        img{
            width: 100%;
            height: 100%;
        }

        a{
            border: 3px solid $black_color;
            padding: 15px;
            text-decoration: none;
            font-weight: 700;
        }

        article{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 30px;

            i{
                font-size: 2rem;
            }
        }
    }

    #home_headline{
        grid-area: headline;
        position: relative;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* This is not a good way to hide a video on mobile version since it will still load the video
        it could be fixed with JavaScript that make sure that the video only loads on desktop version */
        video{
            display: none;
        }

        h1{
            position: relative;
            text-align: center;
            width: 70%;
        }

        p{
            position: relative;
            text-align: center;
            width: 70%;
        }

        a{
            position: relative;
            border: none;
            padding: 10px;
            text-decoration: none;
        }
    }

    /* A way to have a background image and at the same time give it opacity, i have used a referance to do this.
    The referance is written in the document */
    #home_headline:before{
        @include opacity_background_image;
    }

    #subheading{
        grid-area: subheading;
    }

    #home_about{
        background-color: $yellow_color;
        grid-area: about_company;
    }

    #services{
        grid-area: our_services;
    }
}

aside{
    background-color: $light_gray_color;
    padding: 40px 15px;
    @include max_size_properties;

    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        label{
            font-weight: 700;
            font-size: 1.5rem;
            margin: 20px;
        }

        input{
            padding: 10px;
            border: none;
        }

        input[type=email]{
            width: 60%;
            font-family: $default_font;
        }

        input[type=submit]{
            width: 37%;
            font-weight: 700;
            background-color: $yellow_color;
            font-family: $default_font;
        }
    }
}

/* portfolio spesific taggs */

#portifolio_main{
    @include max_size_properties;

    #previous_jobs{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);

        h2{
            grid-row: 1/2;
        }

        nav{
            grid-row: 2/3;
        }

        #branding{
            grid-row: 3/4;
        }

        #design{
            grid-row: 4/5;
        }

        #development{
            grid-row: 5/6;
        }
    }
    section{
        padding: 40px;

        h2{
            border-bottom: 2px solid $yellow_color;
            padding: 10px;
        }

        nav{
            ul{
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                list-style: none;
                height: 100%;
                gap: 5px;

                li{
                    a{
                        margin: 5px;
                        border: 1px solid $black_color;
                        padding: 5px;
                        text-decoration: none;
                    }
                }
            }
        }

        section{
            padding: 0;

            h3{
                border-bottom: 2px solid $yellow_color;
                padding: 10px;
                text-align: center; 
            }
        }
    }
}

#portifolio_background{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;

    h1{
        position: relative;
        color: $black_color;
        text-align: center;
        top: 2em;
    }
}

#portifolio_background:before{
    @include opacity_background_image;
}

.port_article_controller{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h3{
        width: 100%;
    }

    article{
        display: flex;
        flex-direction: column;
        max-width: 692px;
        min-width: 200px;
        flex-grow: 1;
        margin: 10px 0;

        img{
            object-fit: contain;
            width: 100%;
        }
    }
}

/* about page spesific taggs */

#main_about{
    display: grid;
    grid-template-areas: "about_company" "services" "clients" "contact_form";
    @include max_size_properties;

    #about_company{
        padding: 40px;
        background: url(../img/mobile_on_notebook.webp) $light_gray_color;
        background-repeat: no-repeat;
        background-size: cover;
        grid-area: about_company;

        article{
            display: flex;
            flex-direction: column;
            background-color: $opacity_light_grey;
            padding: 35px;

            h1{
                order: 2;
            }

            span{
                order: 1;
            }

            p{
                order: 3;
            }

            a{
                order: 4;
                padding: 10px;
                text-decoration: none;
                max-width: 180px;
            }
        }
    }
    #services{
        display: flex;
        justify-items: center;
        justify-content: space-around;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        grid-area: services;

        h2{
            text-align: center;
        }

        p{
            text-align: center;
        }

        article{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 30px;

            i{
                font-size: 2rem;
            }
        }

        img{
            width: 100%;
            height: 100%;
        }

        a{
            border: 3px solid $black_color;
            padding: 15px;
            text-decoration: none;
            font-weight: 700;
        }
    }

    #clients{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        background-color: $yellow_color;
        grid-area: clients;

        h2{
            width: 100%;
            text-align: center;
        }

        img{
            margin: 10px;
        }
    }

    #contact_form{
        display: grid;
        grid-template-areas: "heading" "message_form" "contact_info" "map";
        background-color: $light_gray_color;
        grid-area: contact_form;

        h2{
            text-align: center;
            grid-area: heading;
        }

        #message_form{
            grid-area: message_form;
        }

        #contact_info{
            grid-area: contact_info;
        }

        article{
            padding: 20px;

            form{
                display: flex;
                flex-direction: column;

                input, textarea{
                    border: none;
                    margin: 10px 0;
                    padding: 10px 5px;
                }

                input[type=submit]{
                    width: 140px;
                }
            }

            ul{
                list-style: none;
                padding: 0;

                li{
                    i{
                        margin-right: 20px;
                        color: $black_color;
                    }
                }
            }
        }

        div{
            grid-area: map;
        }
    }
}

#map{
    height: 300px;
    width: 100%;
}

/* Desktop spesific css */

@media only screen and (min-width: 700px){

    /* General taggs */

    header{
        nav{
            flex-wrap: wrap;
            flex-direction: row;

            ol{
                flex-direction: row;
                justify-content: flex-end;
                margin: 0 10px;

                li{
                    margin: 5px;
                }
            }
        }
    }

    footer{
        height: 200px;

        div{
            flex-wrap: wrap;
            flex-direction: row;

            ul{
                flex-direction: row;
                justify-content: flex-end;
                margin: 0 10px;

                li{
                    margin: 5px;
                }
            }  
        }
        
    }

    .yellow_hover_btn:hover, .category_hover_btn:hover{
        background-color: $black_color;
        color: $yellow_color;
    }

    /* Index page spesific taggs */

    #home_main{
        grid-template-areas: "headline headline headline" ". subheading ." "about_company about_company about_company" "our_services our_services our_services";

        #home_headline{
            position: relative;
            height: 500px;
            background-image: none;

            video{
                display: block;
                object-fit: cover;
                z-index: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: 0.6;
            }

            h1{
                z-index: 1;
            }

            p{
                z-index: 1;
            }

            a{
                z-index: 1;
            }
        }
        #home_headline:before{
            display: none;
        }
        #home_about{
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 1fr 1fr 2fr;
            height: 500px;
            column-gap: 30px;

            img{
                min-width: 300px;
                max-width: 400px;
                object-fit: contain;
                grid-column: 1/2;
                grid-row: 1/4;
            }

            h2{
                justify-self: start;
                align-self: end;
                grid-column: 2/3;
                grid-row: 1/2;
            }

            p{
                text-align: left;
                align-self: stretch;
                grid-column: 2/3;
                grid-row: 2/3;
            }

            a{
                justify-self: start;
                align-self: start;
                grid-column: 2/3;
                grid-row: 3/4;
            }
        }

        #services{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            h2{
                width: 100%;
            }

            article{
                max-width: 300px;
            }
        }    
    }

    aside{
        form{
            justify-content: center;

            label{
                text-align: center;
                width: 100%;
            }

            input[type=email]{
                width: 25%;
            }

            input[type=submit]{
                width: 25%;
            }
        }
    }

    /* Portfolio page specific taggs */

    #portifolio_main{
        #previous_jobs{
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;

            h2{
                grid-column: 1/4;
            }

            nav{
                grid-column: 1/4;
            }

            #branding{
                grid-column: 1/4;
            }

            #design{
                grid-column: 1/4;
            }

            #development{
                grid-column: 1/4;
            }
        }
    }

    .port_article_controller{
        article{
            margin: 10px;
            transform: scale(100%);
            transition: transform 1s ease;
        }

        article:hover{
            transform: scale(105%);
        }
    }

    /* about page spesific taggs */

    #main_about{
        grid-template-areas: "about_company about_company about_company" "services services services" "clients clients clients" "contact_form contact_form contact_form";

        #about_company{
            article{
                /* I haven't used flex og grid her to place this article box, both to show that i know how to do it in other ways than with only flex and grid
                and that it's just moving one item in this section so it would be overkill to make a grid for it or use flex just to get acess to justify-content */
                width: 40%;
                margin-left: auto;
                min-width: 400px;
            }
        }

        #services{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            h2{
                width: 100%;
            }

            article{
                max-width: 300px;
            }
        }
        #contact_form{
            grid-template-areas: ". heading heading ." "message_form message_form contact_info contact_info" "map map map map";
            grid-template-columns: repeat(4, 1fr);
        }    
    }
}

/* This is here to ensure that the button to get back to the top don't move outside of the set max width of 1600px
This could be more dynamicaly done with JavaScript but i wanted to se if i could do something similar using only css*/
@media only screen and (min-width: 1600px){
    #link_to_top{
        right: calc((100vw - 1600px)/2 + 10px);
    }    
}